
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.DataShop.Order.EntityPlural");
}

@section Head {
@Html.Script("dynamic://Lookup.DataShop.Customer")
@Html.Script("dynamic://Lookup.DataShop.CustomerCountry")
@Html.Script("dynamic://Lookup.DataShop.CustomerCity")
@Html.Script("dynamic://Lookup.DataShop.Employee")
@Html.Script("dynamic://Lookup.DataShop.OrderShipCountry")
@Html.Script("dynamic://Lookup.DataShop.OrderShipCity")
@Html.Script("dynamic://Lookup.DataShop.Product")
@Html.Script("dynamic://Lookup.DataShop.Shipper")
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        //alchiweb
        //var orderGrid = new CoopShop.DataShop.OrderGrid($('#GridDiv'), {
        //});
        var orderGrid = new CoopShop.DataShop.OrderGrid($('#GridDiv'),
            {
            }).init()
        {
            addLabel();
        };

        var q = Q.parseQueryString();
        if (q.shippingState != null && q.shippingState.length) {
            orderGrid.set_shippingState(parseInt(q.shippingState, 10));
        }

        Q.initFullHeightGridPage($('#GridDiv'));
    });

    function addLabel() {
        $(".tool-buttons").append('<span id="sumtotal"></span>');
    }
</script>